 @model Unioteq.TrackNTrace.Models.Entity.OperationsEntity

@{
    ViewBag.Title = "Edit Operation";
 }

<head>
    <script src="https://cdn.tiny.cloud/1/agn6gbn9nd1fmorqqq97s9wugx8wem4g7o9uikepijtn2uas/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'markdown',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>
</head>

<!-- Row start -->
<div class="row gx-3">
    <div class="col-12 col-md-8 offset-md-2">
        @using (Html.BeginForm("Edit", "Operation", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">@ViewBag.Title</h5>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.OperationId)
                    <!-- Is Active -->
                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-12 mb-3">
                            @Html.LabelFor(model => model.IsActive, new { @class = "form-label" })
                            <div class="form-check form-switch">
                                @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", @id = "IsActiveSwitch" })
                                <label for="IsActiveSwitch" class="form-check-label">Active</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>

                        <!-- Plant and Shop Floor Codes -->
                        <div class="row gx-3">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                @Html.LabelFor(model => model.PlantId, "Plant Code", new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.PlantId, ViewBag.PlantList as SelectList, "----- Select -----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PlantId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                @Html.LabelFor(model => model.ShopFloorId, "ShopFloor Code", new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.ShopFloorId, ViewBag.ShopFloorList as SelectList, "----- Select -----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShopFloorId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Line and Station Codes -->
                        <div class="row gx-3">
                            <div class="col-lg-6 col-sm-12 mb-3">
                                @Html.LabelFor(model => model.LineId, "Line Code", new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.LineId, ViewBag.lineList as SelectList, "----- Select -----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LineId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                @Html.LabelFor(model => model.StationId, "Station Code", new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.StationId, ViewBag.StationList as SelectList, "----- Select -----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StationId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Model Code -->
                        <div class="col-lg-6 col-sm-12 mb-3">
                            @Html.LabelFor(model => model.ModelId, "Model Code", new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.ModelId, ViewBag.ModelList as SelectList, "----- Select -----", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-3">
                            @Html.LabelFor(model => model.Sequence, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sequence, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="mb-3">
                            <label class="form-label label-required" asp-for="Operation">Operation</label>
                            @Html.ValidationMessageFor(model => model.Operation, "", new { @class = "text-danger" })
                            <div>
                                <span validation-for="Operation" class="text-danger"></span>
                                <textarea asp-for="Operation" id="tiny" class="form-control" name="Operation"></textarea>

                            </div>
                        </div>
                    </div>



                </div>

                <!-- Card Footer -->
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <a class="btn btn-outline-danger" href="@Url.Action("Index", "Operation")">Cancel</a>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



