@model Unioteq.TrackNTrace.Models.Entity.StationEntity

@{
    ViewBag.Title = "Create Station";
}

<div class="row gx-3">
    <div class="col"></div>
    <div class="col-6">
        @using (Html.BeginForm("Create", "Station", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">@ViewBag.Title</h5>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "form-label" })
                                <div class="form-check form-switch">
                                    @Html.CheckBoxFor(model => model.IsActive, new { id = "IsActiveSwitch", @class = "form-check-input", @role = "switch", @checked = "checked" })
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "form-check-label", @for = "IsActiveSwitch" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.PlantName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.PlantId, ViewBag.PlantList as SelectList, "----- Select -----", new { @class = "form-control" })
                                    <span asp-validation-for="PlantId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.ShopFloorName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.ShopFloorId, ViewBag.shopFloorList as SelectList, "----- Select -----", new { @class = "form-control" })
                                    <span asp-validation-for="ShopFloorId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.LineName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.LineId, ViewBag.lineList as SelectList, "----- Select -----", new { @class = "form-control" })
                                    <span asp-validation-for="LineId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.StationName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.StationName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.StationDescription, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.StationDescription, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                  

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.StationCode, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.StationCode, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <a class="btn btn-outline-danger" href="@Url.Action("Index")">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-success">
                            Submit
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
    <div class="col"></div>
</div>