@model Unioteq.TrackNTrace.Models.Entity.UserEntity

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Row start -->
<div class="row gx-3">
    <div class="col-xxl-8">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">@ViewBag.Title</h5>
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="UserId" />

                    <div class="mb-3">
                        <label asp-for="FullName" class="form-label"></label>
                        <textarea asp-for="FullName" class="form-control"></textarea>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <textarea asp-for="Username" class="form-control"></textarea>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <textarea asp-for="Email" class="form-control"></textarea>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <textarea asp-for="Password" class="form-control"></textarea>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Contact" class="form-label"></label>
                        <textarea asp-for="Contact" class="form-control"></textarea>
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.DepartmentId, (SelectList)ViewBag.DepartmentList, "Select Department", new { @class = "form-control" })
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.PlantId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.PlantId, (SelectList)ViewBag.PlantList, "----- Select -----", new { @class = "form-control" })
                                <span asp-validation-for="PlantId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.RoleList, "----- Select -----", new { @class = "form-control" })
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "form-label" })
                                <div class="form-check form-switch">
                                    @Html.CheckBoxFor(model => model.IsActive, new { id = "IsActiveSwitch", @class = "form-check-input", @role = "switch" })
                                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "form-check-label", @for = "IsActiveSwitch" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="Save Changes" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Row end -->
